.card {
    display: flex;
    flex-flow: column;
    gap: 1em;
    padding: 2em;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: grid;
    width: 100%;
    --min-card-size: 350px;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-card-size), 1fr));
    gap: 1em;
}

.card-container.empty {
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--text-color-secondary);
    margin: auto;
}

.card-container.journal {
    display: flex;
    flex-flow: column;
}

.card.journal-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-self: center;
    width: 50%;
} 

.card.journal-entry > div:first-of-type {
    justify-self: start;
}

.card.journal-entry > div:last-of-type {
    justify-self: end;
}

.card.journal-entry p {
    font-weight: 300;
} 

.card.journal-entry b {
    font-weight: 500;
} 

.card.card.journal-entry > button {
    grid-column: 1 / -1;
    width: 100%;
}