/* mobile: max 576px, tablet: max 992px, desktop: >= 992px */

* {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

html {
    --text-color-primary: #c8d6e5;
    --text-color-secondary: #8395a7;
    --accent-color-primary: #10ac84;
    --accent-color-secondary: #1dd1a1;
    --border-color-unfocused: #8395a7;
    --link-color-active: #ff6b6b; 
    --ambient-background-color: #121921;
    --secondary-background-color: #1b2632;
    --ambient-background-color-darker: #090d10;
    --error-color: #ee5253;
    --danger-color: #c23616;
    background-color: var(--ambient-background-color);
    color: var(--text-color-primary);
    caret-color: var(--text-color-primary);
}

form {
    display: flex;
    flex-flow: column;
}

form.horizontal {
    flex-flow: row;
    gap: 1em;
}

a {
    color: var(--accent-color-primary);
}

a:active {
    color: var(--link-color-active);
}

.error {
    color: var(--error-color);
}

span.error {
    display: block;
}

span.error:last-of-type {
    margin-bottom: 1em;
}

dialog {
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    width: 450px;
}

.dialog-title {
    font-size: 1.5em;
    font-weight: 700;
}

dialog::backdrop {
    backdrop-filter: brightness(30%) blur(32px);
}

.container-header {
    display: flex;
    width: 100%;
    background-color: var(--secondary-background-color);
    flex-flow: row wrap;
    gap: 1em;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 2em;
}

.container-header > form {
    align-items: center;
}