input, select {
    border: none;
    border-radius: 0.35rem;
    padding: 1rem 1rem;
    outline: 2px solid var(--border-color-unfocused);
    background-color: var(--secondary-background-color);
    color: var(--text-color-primary);
}

input::placeholder {
    color: #576574;
}

input:focus-visible, select:focus-visible {
    outline: 2px solid var(--accent-color-primary);
}

.button {
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--accent-color-primary);
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    cursor: default;
    color: var(--accent-color-primary);
    font-size: 0.9rem;
    background-color: var(--secondary-background-color);
    transition: transform 100ms linear;
}

.button:hover, .button:focus {
    transform: scale(1.02);
}

.button:active {
    color: var(--accent-color-primary);
    transform: scale(0.98);
}

.button.primary {
    color: white;
    background-image: linear-gradient(to left, var(--accent-color-secondary), var(--accent-color-primary));
    border: none;
}

.button.primary:active { color: white; }

.button.danger {
    border-color: var(--danger-color);
    color: var(--danger-color);
}

.button.primary.danger {
    background-image: linear-gradient(to left, var(--danger-color), var(--error-color));
    color: white;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}