input, select {
    border: none;
    border-radius: 0.35rem;
    padding: 1rem 1rem;
    outline: 2px solid var(--border-color-unfocused);
    background-color: var(--secondary-background-color);
    color: var(--text-color-primary);
}

input::placeholder {
    color: #576574;
}

input:focus-visible, select:focus-visible {
    outline: 2px solid var(--accent-color-primary);
}

.button {
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--accent-color-primary);
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    cursor: default;
    color: var(--accent-color-primary);
    font-size: 0.9rem;
    background-color: var(--secondary-background-color);
    transition: transform 100ms linear;
}

.button:hover, .button:focus {
    transform: scale(1.02);
}

.button:active {
    color: var(--accent-color-primary);
    transform: scale(0.98);
}

.button.primary {
    color: white;
    background-image: linear-gradient(to left, var(--accent-color-secondary), var(--accent-color-primary));
    border: none;
}

.button.primary:active { color: white; }

.button.danger {
    border-color: var(--danger-color);
    color: var(--danger-color);
}

.button.primary.danger {
    background-image: linear-gradient(to left, var(--danger-color), var(--error-color));
    color: white;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Az input groupok egy inputból és egy labelből állnak. A label az input körvonalán fekszik */
.input-group {
    position: relative;
    margin: 1rem 0;
    color: var(--border-color-unfocused);
}

.input-group > input, .input-group > select {
    width: 100%;
}

.input-group > label {
    background-color: var(--secondary-background-color);
    position: absolute;
    color: inherit;
    font-size: 0.8em;
    padding: 0 0.5rem;
    top: -0.5rem;
    left: 1em;
    transition: left 100ms linear, font-size 100ms linear;
    white-space: nowrap;
}

.input-group.error > label {
    color: var(--error-color);
}

.input-group:focus-within > label {
    color: var(--accent-color-primary);
    left: 1.1em;
    font-size: 0.9em;
}

.input-group:has(input:required) > label::after {
    content: ' *';
    color: var(--error-color);
}

.input-group.error > input, .input-group.error > select {
    outline-color: var(--error-color);
}

.input-group.error:focus-within > label {
    color: var(--error-color);
}

.dual-input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1em;
}

.dual-input-group.add-top-margin {
    margin-top: 1em;
}

.dual-input-group > span.error {
    grid-column: 1 / -1;
}