.input-group {
    position: relative;
    margin: 1rem 0;
    color: var(--border-color-unfocused);
}

.input-group > input, .input-group > select {
    display: inline-block;
    width: 100%;
}

.input-group > label {
    background-color: var(--secondary-background-color);
    position: absolute;
    color: inherit;
    font-size: 0.8em;
    padding: 0 0.5rem;
    top: -0.5rem;
    left: 0.5em;
    transition: left 100ms linear, font-size 100ms linear;
    white-space: nowrap;
}

.input-group.error > label {
    color: var(--error-color);
}

.input-group:focus-within > label {
    color: var(--accent-color-primary);
    left: 1.1em;
    font-size: 0.9em;
}

.input-group:has(input:required) > label::after {
    content: ' *';
    color: var(--error-color);
}

.input-group.error > input, .input-group.error > select {
    outline-color: var(--error-color);
}

.input-group.error:focus-within > label {
    color: var(--error-color);
}

.dual-input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1em;
}

@media screen and (max-width: 500px) {
    .dual-input-group {
        grid-template-columns: 1fr;
        gap: 1em;
    }
}

.dual-input-group.add-top-margin {
    margin-top: 1em;
}