body {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    gap: 2em;
}

header {
    background-color: var(--secondary-background-color);
    min-width: 300px;
    height: 100vh;
    box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1em 0 1em 2em;
    margin: 2em auto;
    width: 90%;
    border-radius: 10px;
    color: var(--text-color-secondary);
}

nav ul li a.active {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav ul li a.active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: calc(100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--accent-color-secondary);
}

nav ul li a:hover {
    background-color: var(--ambient-background-color);
}

nav ul li a:active {
    color: var(--text-color-secondary);
    background-color: var(--ambient-background-color-darker);
}