/* mobile: max 576px, tablet: max 992px, desktop: >= 992px */

#hamburger-toggle {
    display: none;
}

#hamburger-bars {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
}

#hamburger-bars > div {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color-secondary);
    border-radius: 10px;
    transition: all 100ms linear;
}

#hamburger-bars > div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#hamburger-bars > div:nth-child(3) {
    bottom: 0px;
}

#hamburger-toggle:checked ~ #hamburger-bars > div:nth-child(1) {
    transform: translate(0px, 9px) rotateZ(45deg);
}

#hamburger-toggle:checked ~ #hamburger-bars > div:nth-child(2) {
    opacity: 0;
}

#hamburger-toggle:checked ~ #hamburger-bars > div:nth-child(3) {
    transform: translate(0px, -9px) rotateZ(-45deg);
}

/* body {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
}

header {
    position: relative;
    background-color: var(--secondary-background-color);
    min-width: 300px;
    height: 100vh;
    box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

main {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    padding: 2em;
    overflow-y: scroll;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1em 0 1em 2em;
    margin: 2em auto;
    width: 90%;
    border-radius: 10px;
    color: var(--text-color-secondary);
}

nav ul li a.active {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav ul li a.active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: calc(100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--accent-color-secondary);
}

nav ul li a:hover {
    background-color: var(--ambient-background-color);
}

nav ul li a:active {
    color: var(--text-color-secondary);
    background-color: var(--ambient-background-color-darker);
}

#header-bottom-section {
    position: absolute;
    text-align: center;
    bottom: 1em;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#header-bottom-section > hr {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    height: 2px;
    background-color: var(--border-color-unfocused);
    border-radius: 10px;
    opacity: 0.5;
    border: none;
} */
