#profileContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    margin: 2em auto;
}

#profileContainer > .card {
    height: 100%;
    width: 100%;
    max-width: 450px;
}

@media screen and (min-width: 1200px) {
    #profileContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}