.vehicle.card .car-license-plate {
    font-size: 1.1em;
    font-weight: 700;
}

.vehicle.card > p {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vehicle-container-header {
    margin: 2em 0;
}