.vehicle.card .car-license-plate {
    font-size: 1.1em;
    font-weight: 700;
}

.vehicle.card > p {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#vehicle-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

@media screen and (min-width: 860px) {
    #vehicle-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1650px) {
    #vehicle-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}